.container {
  margin: 30px auto 0;
  display: block;
  width: 400px;
  background-color: white;
  /* padding: 0.5rem; */
  /* overflow: hidden; */
  box-shadow: 0px 0px 10px gray;
}

.main-image {
  background-image: url(https://images.unsplash.com/photo-1534158914592-062992fbe900?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1550&q=80);
  width: 100%;
  /* background-color: black; */
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 1rem;
  text-align: center;
  /* border: gray solid 1px; */
  padding: 4px 0;
  margin: 0;
  box-shadow: 0px 0px 5px gray;
}

.score-tracker {
  padding: 20px 10px;
  /* box-shadow: 0px 5px gray; */
}

.score {
  font-size: 2rem;
  font-weight: 700;
}

.introduction {
  color: rgb(49, 49, 49);
}

.playNum {
  padding: 20px 0 0 0;
  /* box-shadow: 0px 0px 5px gray; */
}

.playNum span {
  font-size: 1.2rem;
  font-weight: 700;
}

#playto {
  border-radius: 20%;
  border: rgb(158, 158, 158) 1px solid;
  margin-left: 5px;
  width: 50px;
  height: 20px;
  padding-left: 10px;
  /* padding: 3px 0; */
}

.buttons-container {
  display: grid;
  /* flex: 1fr 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
  height: 40px;
  /* background-color: rosybrown; */
}

#p1Button {
  background-color: #11e2a7;
  border: none;
  /* margin: 0; */
  /* border-radius: 5px; */
  color: whitesmoke;
}

#p2Button {
  background-color: #26638f;
  border: none;
  color: whitesmoke;
}

#reset {
  background-color: #e3285f;
  border: none;
  color: whitesmoke;
}
